/* Main Style Css */
/* Variables */
/* Colors */
/* Fonts */
/* Mixins */
/* Global Style css */
/* Body Background */
body {
  background-color: #f6f6f6;
  margin-top: 174px; }

.body-login {
  background-color: #f6f6f6;
  margin-top: 100px; }

/* Container */
.main-wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

.login-wrapper {
  width: 75%;
  margin-right: auto;
  margin-left: auto; }

/* Link */
a {
  text-decoration: none; }
a:hover {
  text-decoration: none; }

nav {
  width: 100%; }

/* Global Components Style */
/* Header style css */
#header, #header-empty {
  padding: 2em 0 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: #ffffff; }

#header-empty {
  border-bottom: 1px solid #848484;
  padding-bottom: 10px; }

/* Search */
#form-search {
  height: 50px; }
#form-search input {
  width: 60%;
  height: 50px; }
#form-search select {
  width: 25%;
  height: 50px;
  background: url("https://localhost/allegro/public/img/arrow.png") no-repeat right center; }
#form-search .input-group-append {
  width: 15%;
  height: 50px;
  margin: 0; }
#form-search .form-control {
  border-radius: 0; }
#form-search button {
  border-radius: 0;
  background-color: #ff681d;
  color: #ffffff;
  width: 100%; }
#form-search button:hover {
  transition: 400ms;
  opacity: 0.7; }

/* My Allegro */
.group-my-allegro {
  border: 1px solid #C7C7C7;
  width: 220px; }
.group-my-allegro hr {
  margin: 0;
  padding: 0; }

.my-allegro-css a, .my-allegro-css span, .my-allegro-css-login a, .my-allegro-css-login span {
  color: #848484; }
.my-allegro-css a:hover, .my-allegro-css span:hover, .my-allegro-css-login a:hover, .my-allegro-css-login span:hover {
  -webkit-transition: 400ms time;
  -moz-transition: 400ms time;
  -ms-transition: 400ms time;
  -o-transition: 400ms time;
  transition: 400ms time;
  color: #ff681d; }
.my-allegro-css a, .my-allegro-css-login a {
  font-size: 18px; }

.my-allegro-css .collapse.show, .my-allegro-css .collapsing {
  position: fixed;
  right: 80px;
  top: 100px;
  z-index: 20;
  background-color: #ffffff; }

.my-allegro-css-login .collapse.show, .my-allegro-css-login .collapsing {
  position: fixed;
  right: 200px;
  top: 100px;
  z-index: 20;
  background-color: #ffffff; }

#my-allegro ul li {
  list-style-type: none; }

ul.my-allegro {
  padding: 0 0 0 10px;
  margin: 0; }
ul.my-allegro li {
  padding: 8px 0; }
ul.my-allegro li a {
  font-size: 14px; }

.box-login {
  box-sizing: border-box;
  width: 100%;
  position: relative; }
.box-login .login, .box-login .register {
  float: left;
  width: 50%;
  display: inline-block;
  padding: 20px 0; }
.box-login .login a, .box-login .register a {
  padding: 8px 8px;
  font-size: 12px; }
.box-login .login a {
  background-color: #ff681d;
  color: #ffffff; }
.box-login .login:hover {
  -webkit-transition: 400ms time;
  -moz-transition: 400ms time;
  -ms-transition: 400ms time;
  -o-transition: 400ms time;
  transition: 400ms time;
  opacity: 0.7; }

/* Navigation Category */
#nav-category {
  margin: 20px 0 0;
  padding: 8px 0;
  border-top: 1px solid #C7C7C7;
  border-bottom: 1px solid #C7C7C7; }

.nav-link {
  margin: 0 5px; }

.nav-category-li a {
  color: #848484; }
.nav-category-li:hover a {
  -webkit-transition: 400ms time;
  -moz-transition: 400ms time;
  -ms-transition: 400ms time;
  -o-transition: 400ms time;
  transition: 400ms time;
  color: #ff681d; }

/* Main Page Index Css */
.polecane2-box .jumbotron {
  background-color: #ffffff;
  border-radius: 0;
  padding: 20px 0; }

.box-column-vertical {
  float: left;
  box-sizing: border-box;
  width: 50%;
  padding: 10px; }
.box-column-vertical .card {
  border-radius: 0;
  border: none; }

/*  Footer Style */
#footer .login-wrapper h2, #footer2 .login-wrapper h2 {
  padding: 10px 0 15px 20px; }

.footer h5 {
  font-size: 20px;
  font-weight: bolder; }

.ul-footer li {
  list-style-type: none; }
.ul-footer li a {
  color: #06a29a;
  font-size: 16px; }
.ul-footer li a:hover {
  -webkit-transition: 400ms time;
  -moz-transition: 400ms time;
  -ms-transition: 400ms time;
  -o-transition: 400ms time;
  transition: 400ms time;
  opacity: 0.75; }

#footer2 {
  background-color: #ffffff;
  padding: 30px 10px; }

#copyright {
  background-color: #4c6069;
  padding: 40px 0 30px; }

.copy-paragraph {
  color: #ffffff; }
.copy-paragraph a {
  color: #06a29a; }
.copy-paragraph a:hover {
  -webkit-transition: 400ms time;
  -moz-transition: 400ms time;
  -ms-transition: 400ms time;
  -o-transition: 400ms time;
  transition: 400ms time;
  opacity: 0.75; }

/* Components */
/* Banner Components */
#polecane {
  padding: 10px 0 30px; }

.polecane-row {
  padding: 30px 0; }

.carousel {
  height: 340px;
  width: 100%;
  overflow: hidden; }
.carousel .carousel-inner .carousel-item img {
  width: 100%;
  min-height: 340px;
  max-height: 340px;
  object-fit: cover; }

.card-banner {
  height: 340px;
  width: 100%;
  border-radius: 0; }
.card-banner img {
  width: 100%;
  min-height: 340px;
  max-height: 340px;
  object-fit: cover; }

/* Login Page Style */
.container-login {
  box-sizing: border-box;
  position: relative;
  height: 480px;
  padding: 0 0 25px; }
.container-login .row {
  height: 100%; }
.container-login .row .col-12, .container-login .row .col-sm-6 {
  height: 100%; }

.login-div {
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 20px 10px; }
.login-div h2 {
  padding: 5px 5px 15px; }

.login-register-div {
  background-color: #ffffff;
  box-sizing: border-box;
  margin: 20px 0;
  padding: 20px 20px; }
.login-register-div .link-register p {
  font-weight: bolder;
  color: #000000; }
.login-register-div .link-register p a {
  color: #06a29a; }

.haslo-przypomnij {
  padding: 0 0 15px; }
.haslo-przypomnij a {
  color: #06a29a; }
.haslo-przypomnij a:hover {
  -webkit-transition: 400ms time;
  -moz-transition: 400ms time;
  -ms-transition: 400ms time;
  -o-transition: 400ms time;
  transition: 400ms time;
  opacity: 0.6; }

.login-form .form-group input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.login_submit input {
  outline: none;
  border: none;
  box-sizing: border-box;
  background-color: #ff681d;
  color: #ffffff;
  padding: 7px 30px;
  margin: 10px; }
.login_submit input:hover {
  -webkit-transition: 400ms time;
  -moz-transition: 400ms time;
  -ms-transition: 400ms time;
  -o-transition: 400ms time;
  transition: 400ms time;
  opacity: 0.75; }
.login_submit input:active {
  opacity: 1; }

.link-register p a:hover {
  -webkit-transition: 400ms time;
  -moz-transition: 400ms time;
  -ms-transition: 400ms time;
  -o-transition: 400ms time;
  transition: 400ms time;
  opacity: 0.6; }

.banner-reklamowy {
  height: 100%;
  width: 100%; }
.banner-reklamowy a img {
  object-fit: cover;
  height: 100%;
  width: 100%; }

#strefa-login {
  background-color: #f6f6f6; }

.card-login {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 100%;
  padding: 20px 0; }
.card-login img {
  width: 84px;
  height: 84px; }
.card-login h4 {
  font-size: 20px;
  font-weight: bolder; }
.card-login p {
  font-size: 16px; }

/* Style Page Register */
#register {
  margin-top: -40px;
  margin-bottom: 40px; }

.bg-form-register {
  background-color: #ffffff; }

#form form h4 {
  padding: 15px 5px;
  font-weight: bold; }
#form p.text-danger {
  margin: 0; }

.date-form-birth {
  box-sizing: border-box;
  margin: 20px 0 80px;
  width: 80%; }
.date-form-birth .form-group {
  position: relative; }
.date-form-birth .form-group input {
  border-radius: 0;
  width: 23%;
  display: inline-block;
  float: left; }
.date-form-birth .form-group select {
  margin: 0 2%;
  border-radius: 0;
  display: inline-block;
  float: left;
  width: 50%; }

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #1eae00;
  box-shadow: 0 0 5px #1eae00; }

.input-register input.form-control {
  border-radius: 0;
  width: 80%;
  position: relative; }

.input-password-register {
  position: relative; }
.input-password-register input.form-control {
  position: absolute; }
.input-password-register i {
  position: absolute;
  right: 21%;
  line-height: 36px;
  font-size: 24px;
  cursor: pointer;
  color: #848484;
  display: inline-block;
  float: right; }

p.pass-text {
  margin-top: 60px; }

.checkbox-regulamin {
  position: relative;
  padding: 5px 0; }
.checkbox-regulamin input[type="checkbox"] {
  display: none; }
.checkbox-regulamin label {
  margin-left: 25px; }
.checkbox-regulamin label.custom-control-label:before {
  content: '';
  width: 20px;
  height: 20px;
  margin-top: 2px;
  background-color: #ffffff;
  border: 1px solid #C7C7C7;
  display: inline-block; }

.m-choice:checked + .custom-control-label::before {
  border-color: #1eae00;
  border-width: 3px;
  box-shadow: 0 0 5px #1eae00; }

#firma-3 {
  width: 80%; }
#firma-3 .input-register {
  width: 100%; }
#firma-3 .input-register input.adres-css {
  width: 100%; }
#firma-3 .input-register input.kod-css {
  width: 27%;
  float: left; }
#firma-3 .input-register input.miasto-css {
  width: 67%;
  float: left; }
#firma-3 .input-register span#kod-tol {
  width: 2.4%;
  margin: 1.5% 1.8%;
  padding: 0; }

/* Span Info */
#tel-info, #nip-info, #kod-info {
  position: absolute;
  padding: 5px;
  margin-top: -50px;
  line-height: 12px;
  font-size: 12px;
  background: #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #575757;
  display: none;
  transition: 450ms;
  z-index: 10; }

#tel-info {
  right: 0; }

#nip-info {
  right: 70px; }

#kod-info {
  left: 80px;
  margin-top: -20px; }

/*# sourceMappingURL=main.css.map */
