/* Global Style css */

/* Body Background */
body {
  background-color: $superLightGrey;
  margin-top: 174px;
}

.body-login {
  background-color: $superLightGrey;
  margin-top: 100px;
}

/* Container */
.main-wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.login-wrapper {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

/* Link */
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

nav {
  width: 100%;
}

