/* Mixins */
@mixin centerTranslate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin hover {
  -webkit-transition: 400ms time;
  -moz-transition: 400ms time;
  -ms-transition: 400ms time;
  -o-transition: 400ms time;
  transition: 400ms time;
  opacity: 0.75;
}

@mixin hoverText {
  -webkit-transition: 400ms time;
  -moz-transition: 400ms time;
  -ms-transition: 400ms time;
  -o-transition: 400ms time;
  transition: 400ms time;
  opacity: 0.6;
}