/* Variables */
/* Colors */
$black : #000000;
$white: #ffffff;
$superLightGrey: #f6f6f6;
$lightGrey: #C7C7C7;
$mediumGrey: #848484;
$darkGrey: #575757;
$orange: #ff681d;
$blueGrey: #06a29a;
$footer: #4c6069;
$radio: #1eae00;

/* Fonts */
