/*  Footer Style */
#footer,
#footer2{
  .login-wrapper {
    h2 {
      padding: 10px 0 15px 20px;
    }
  }
}


.footer {
  h5 {
    font-size: 20px;
    font-weight: bolder;
  }
}

.ul-footer {
  li {
    list-style-type: none;
    a {
      color: $blueGrey;
      font-size: 16px;
      &:hover {
        @include hover;
      }
    }
  }
}

#footer2 {
  background-color: $white;
  padding: 30px 10px;
}

#copyright {
  background-color: $footer;
  padding: 40px 0 30px;
}

.copy-paragraph {
  color: $white;
  a {
    color: $blueGrey;
    &:hover {
      @include hover;
    }
  }
}
