/* Header style css */
#header,
#header-empty{
  padding: 2em 0 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: $white;
}

#header-empty {
  border-bottom: 1px solid $mediumGrey;
  padding-bottom: 10px;
}

/* Search */
#form-search {
  height: 50px;
  input {
    width: 60%;
    height: 50px;
  }
  select {
    width: 25%;
    height: 50px;
    background: url("https://localhost/allegro/public/img/arrow.png") no-repeat right center;
  }
  .input-group-append {
    width: 15%;
    height: 50px;
    margin: 0;
  }
  .form-control {
    border-radius: 0;
  }
  button {
    border-radius: 0;
    background-color: $orange;
    color: $white;
    width: 100%;
    &:hover {
      transition: 400ms;
      opacity: 0.7;
    }
  }
}

/* My Allegro */
.group-my-allegro {
  border: 1px solid $lightGrey;
  width: 220px;
  hr {
    margin: 0;
    padding: 0;
  }
}
.my-allegro-css,
.my-allegro-css-login{
  a,
  span{
    color: $mediumGrey;
    &:hover {
      -webkit-transition: 400ms time;
      -moz-transition: 400ms time;
      -ms-transition: 400ms time;
      -o-transition: 400ms time;
      transition: 400ms time;
      color: $orange;
    }
  }
  a{
    font-size: 18px;
  }
}

.my-allegro-css {
  .collapse.show,
  .collapsing{
    position: fixed;
    right: 80px;
    top: 100px;
    z-index: 20;
    background-color: $white;
  }
}

.my-allegro-css-login {
  .collapse.show,
  .collapsing{
    position: fixed;
    right: 200px;
    top: 100px;
    z-index: 20;
    background-color: $white;
  }
}


#my-allegro {
  ul {
    li {
      list-style-type: none;
    }
  }
}


ul.my-allegro {
  padding: 0 0 0 10px;
  margin: 0;
  li {
    padding: 8px 0;
    a{
      font-size: 14px;
    }
  }
}

.box-login {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  .login,
  .register {
    float: left;
    width: 50%;
    display: inline-block;
    padding: 20px 0;
    a {
      padding: 8px 8px;
      font-size: 12px;
    }
  }
  .login {
    a {
      background-color: $orange;
      color: $white;
    }
    &:hover {
      -webkit-transition: 400ms time;
      -moz-transition: 400ms time;
      -ms-transition: 400ms time;
      -o-transition: 400ms time;
      transition: 400ms time;
      opacity: 0.7;
    }
  }
}

/* Navigation Category */
#nav-category {
  margin: 20px 0 0;
  padding: 8px 0;
  border-top: 1px solid $lightGrey;
  border-bottom: 1px solid $lightGrey;
}

.nav-link {
  margin: 0 5px;
}

.nav-category-li {
  a {
    color: $mediumGrey;
  }
  &:hover a{
    -webkit-transition: 400ms time;
    -moz-transition: 400ms time;
    -ms-transition: 400ms time;
    -o-transition: 400ms time;
    transition: 400ms time;
    color: $orange;
  }
}