/* Main Page Index Css */
.polecane2-box {
  .jumbotron {
    background-color: $white;
    border-radius: 0;
    padding: 20px 0;
  }
}

.box-column-vertical {
  float: left;
  box-sizing: border-box;
  width: 50%;
  padding: 10px;
  .card {
    border-radius: 0;
    border: none;
  }
}

