/* Banner Components */
#polecane {
  padding: 10px 0 30px;
}

.polecane-row {
  padding: 30px 0;
}

.carousel {
  height: 340px;
  width: 100%;
  overflow: hidden;
  .carousel-inner {
    .carousel-item {
      img {
        width: 100%;
        min-height: 340px;
        max-height: 340px;
        object-fit: cover;
      }
    }
  }
}

.card-banner {
  height: 340px;
  width: 100%;
  border-radius: 0;
  img {
    width: 100%;
    min-height: 340px;
    max-height: 340px;
    object-fit: cover;
  }
}


