/* Login Page Style */
.container-login {
  box-sizing: border-box;
  position: relative;
  height: 480px;
  padding: 0 0 25px;
  .row {
    height: 100%;
    .col-12,
    .col-sm-6 {
      height: 100%;
    }
  }
}

.login-div {
  background-color: $white;
  box-sizing: border-box;
  padding: 20px 10px;
  h2 {
    padding: 5px 5px 15px;
  }
}

.login-register-div {
  background-color: $white;
  box-sizing: border-box;
  margin: 20px 0;
  padding: 20px 20px;
  .link-register {
    p {
      font-weight: bolder;
      color: $black;
      a {
        color: $blueGrey;
      }
    }
  }
}

.haslo-przypomnij {
  padding: 0 0 15px;
  a {
    color: $blueGrey;
    &:hover {
      @include hoverText;
    }
  }
}

.login-form {
  .form-group {
    input {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
  }
}

.login_submit {
  input {
    outline: none;
    border: none;
    box-sizing: border-box;
    background-color: $orange;
    color: $white;
    padding: 7px 30px;
    margin: 10px;
    &:hover {
      @include hover;
    }
    &:active {
      opacity: 1;
    }
  }
}

.link-register {
  p {
    a {
      &:hover {
        @include hoverText;
      }
    }
  }
}

.banner-reklamowy {
  height: 100%;
  width: 100%;
  a {
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}
#strefa-login {
  background-color: $superLightGrey;
}

.card-login {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: $white;
  width: 100%;
  padding: 20px 0;
  img {
    width: 84px;
    height: 84px;
  }
  h4 {
    font-size: 20px;
    font-weight: bolder;
  }
  p {
    font-size: 16px;
  }
}
