/* Style Page Register */
#register {
  margin-top: -40px;
  margin-bottom: 40px;
}
.bg-form-register {
  background-color: $white;
}

#form {
  form {
    h4 {
      padding: 15px 5px;
      font-weight: bold;
    }
    .custom-radio {
      //margin: 10px;
    }
  }
  p.text-danger {
    margin: 0;
  }
}

.date-form-birth {
  box-sizing: border-box;
  margin: 20px 0 80px;
  width: 80%;
  .form-group {
    position: relative;
    input {
      border-radius: 0;
      width: 23%;
      display: inline-block;
      float: left;
    }
    select {
      margin: 0 2%;
      border-radius: 0;
      display: inline-block;
      float: left;
      width: 50%;
    }
  }
}

.custom-radio .custom-control-input:checked~.custom-control-label::before {
  background-color:  $radio;
  box-shadow: 0 0 5px $radio;
}

.input-register {
  input.form-control {
    border-radius: 0;
    width: 80%;
    position: relative;
  }
}

.input-password-register {
  position: relative;
  input.form-control {
    position: absolute;
  }
  i {
    position: absolute;
    right: 21%;
    line-height: 36px;
    font-size: 24px;
    cursor: pointer;
    color: $mediumGrey;
    display: inline-block;
    float: right;
  }
}

p.pass-text {
  margin-top: 60px;
}

.checkbox-regulamin {
  position: relative;
  padding: 5px 0;
  input[type="checkbox"] {
    display: none;
  }
  label {
    margin-left: 25px;
  }
  label.custom-control-label{
    &:before {
      content: '';
      width: 20px;
      height: 20px;
      margin-top: 2px;
      background-color: $white;
      border: 1px solid $lightGrey;
      display: inline-block;
    }
  }
}

.m-choice:checked + .custom-control-label::before {
  border-color: $radio;
  border-width: 3px;
  box-shadow: 0 0 5px $radio;
}

#firma-3 {
  width: 80%;
  .input-register {
    width: 100%;
    input.adres-css {
      width: 100%;
    }
    input.kod-css {
      width: 27%;
      float: left;
    }
    input.miasto-css {
      width: 67%;
      float: left;
    }
    span#kod-tol {
      width: 2.4%;
      margin: 1.5% 1.8%;
      padding: 0;
    }
  }
}

/* Span Info */
#tel-info,
#nip-info,
#kod-info{
  position: absolute;
  padding: 5px;
  margin-top: -50px;
  line-height: 12px;
  font-size: 12px;
  background: $white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid $darkGrey;
  display: none;
  transition: 450ms;
  z-index: 10;
}

#tel-info {
  right: 0;

}

#nip-info {
  right: 70px;
}

#kod-info {
  left: 80px;
  margin-top: -20px;
}



